[Unit]
Description=Download Tectonic Assets
ConditionPathExists=!/opt/tectonic/init_assets.done
Before=kubelet-env.service

[Service]
Restart=always
RestartSec=10
WorkingDirectory=/opt/tectonic
User=root
Group=root
TimeoutSec=infinity
ExecStartPre=/usr/bin/bash /opt/tectonic/init-assets.sh
ExecStartPre=/bin/touch /opt/tectonic/init_assets.done
ExecStartPre=/usr/bin/bash /opt/tectonic/bootkube.sh
ExecStart=/usr/bin/bash /opt/tectonic/tectonic-rkt.sh

[Install]
WantedBy=multi-user.target
RequiredBy=kubelet-env.service
